@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #dd0326;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* Dla Internet Explorera */
  scrollbar-width: none; /* Dla Firefoksa */
}
